<% var mainJS = (isDevMode ? '//'+ hostname +':3001' : '/dist') + '/main.js' %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="systemjs-importmap">
      { "imports": <%- importMaps %> }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.js"></script>
    <script type="text/javascript">
      window.globals = { context: JSON.parse(`<%- context %>`) };
    </script>
    <script type="text/javascript" src="<%- mainJS %>"></script>
  </body>
</html>
